*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    width: 100vw;
    justify-content: space-between;
    height: 70px;
    background-color: #2f2f31;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
}
.logo{
    align-items: center;
    align-items: center;
    color: #fff;
    font-size: 17px;
}
.logo img{
    width: 110px;
    
}
.logo h3{
    margin-left: -10px;
}
.nav-list{
    display: flex;
}
.nav-list li{
    margin-left: 20px;
}
.nav-list a{
    color: gray;
    font-size: 17px;
    font-weight: 500;
}
.nav-list a:hover{
    color: #dcdcec;
}
.search{
    height: 60px;
    background-color: #6c6c70;
    width: 150px;
    border-right: none;
    padding: 0px 10px;
}
.download-btn{
    height: 60px;
    background-color: rgb(101, 101, 238);
    border-left: .5px solid rgba(0, 0, 0, 0.064);
    width: 120px;
    margin-left: -3px;
    color: #fff;
    font-weight: 500;

}
#hamburger{
    display: none;
}

@media(max-width:1100px){
    .search{
        display: none;
    }
}

@media(max-width:900px){
    .nav-list{
        display: none;
    }
    .right-section{
        display: none;
    }
    #hamburger{
        display: flex;
        color: #fff;
        font-size: 22px;
        margin-right: 10px;
        
    }
    .rotate{
        animation: rotation 0.5s ease-in-out ;

    }

    @keyframes rotation {
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate((-360deg));
        }
    }
    header{
        
        padding: 0px 20px;
    }
}

@media(max-width:390px){
    .logo{
        font-size: 15px;
        margin-left: -20px;
    }
}

.responsive-navlist{
    position: absolute;
    right: 0px;
    top: -400px;
    background-color: #2f2f31;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #6c6c70;
    gap: 10px;
    transition: top 0.7s ease-in-out;

}

.rotate{
    transform: rotate(360deg);
}


.message{
    background-color: #161616f8;
    color: rgba(255, 255, 255, 0.4);
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .5px;
    width: 100vw;

}
.message a{
    text-decoration: underline;
    margin-right: 5px;
    color: blue;
    
    
}
.message h2{
    text-align: center;
    max-width: 70vw;
}

.hero{
    width: 100vw;
    /* height: 84vh; */
    padding: 80px 0px;
    background-color: #2f2f31;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-part{
    height: 80%;
    width: 50%;

}

.text-hero{
    width: 30%;
}

@media(max-width:1000px){
    .hero{
        flex-direction: column;
        gap: 50px;
    }
    .text-hero{
        width: 60%;
        text-align: center;
    }
    .img-part{
        width: 70%;
    }
}

.links1{
    background-color: #fff;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    /* padding: 50px; */
}
.links1 div{
    padding: 30px 50px;
    cursor: pointer;
    font-size: 19px;
    

}
.links1 div p{
    margin-top: 10px;
}
.links1 div:hover{
    background-color: #b3b3bb;
}
.links1 img{
    width: 80px;
}

.message{
    margin-top: 70px;
}
@media(max-width:800px){
    .links1 div p{
        font-size: 12px;
    }
    .links1 img{
        width: 60px;
    }
}
@media(max-width:600px){
    .links1{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        
    }
    .links1 div{
        
    }
}


/* .link1{
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
} */


.section1,.section2{
    width: 100vw;
    background-color: rgba(53, 52, 52, 0.121);
    display: flex;
    justify-content: space-between;
    padding: 40px 250px;
    align-items: center;

}
.text-section1,.text-section2{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* text-align: right; */
}

.text-section1 h1,.text-section2 h1{
    font-size: 25px;
    color: #2f2f31;
    margin-bottom: 20px;
}
.text-section1 p,.text-section2 p{
    font-size: 19px;
    color: gray;
}



@media(max-width:1200px){
    .section1,.section2{
        padding: 40px 150px ;
    }
}

@media(max-width:1100px){
    .section1,.section2{
        padding: 40px 20px;
    }
}

@media(max-width:800px){
    .section1{
        flex-direction: column;
    }


    
    .text-section1{
        text-align: center;
        width: 80%;
    }
}

.section2{
    flex-direction: row-reverse;
    background-color: #fff;
}


@media(max-width:850px){
    .section2{
        
        display: flex;
        flex-direction: column-reverse;
        gap: 50px;
    }
    .text-section2{
        text-align: center;
        width: 70%;
    }

}

.text-section2 a,.text-section1 a{
    color: rgba(0, 0, 255, 0.381);
}

.extension-img{
    width: 45%;
}


.section3 img{
    width: 40px;
}


.section3{
    background-color: #fff;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.nav-list2{
    margin: 50px auto;
    width: 80%;
    margin-left: 10%;
    /* margin: auto; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
    gap: 20px;
}
.nav-list2 li{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-section3{
    background-color: rgba(0, 0, 255, 0.578);
    width: 200px;
    align-self: center;
    padding: 10px 10px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 20px;
    border-radius: 5px;
    font-weight: 600;
}

.section3 p{
   text-align: center;
   color: rgba(101, 101, 245, 0.903);
   margin-bottom: 10px;
}

.section4{
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 50px;
    padding: 20px 50px;
}
.section4 img{
    width: 100px;
    margin-bottom: 30px;
}
.box{
    display: flex;
    flex-direction: column;
    /* justify-content: center; 

    */
    padding: 30px 30px;
    align-items: center;
    
    /* width: 25%; */
    
}



.section4 a{
    
    padding: 4px 4px;
    color: rgba(0, 0, 255, 0.556);
}
.line1{
    display: flex;
    width: 60%;
    align-items: center;
  

}
.line1 a{
    margin-left: 2px;
    margin: 3px 3px;
}
.line1 h1{
    min-width: 50px;
    
    
}

.section4 button{
    width: 130px;
    height: 80px;
    background-color: rgba(0, 0, 255, 0.558);
    margin: 20px 0px;
    color:#fff;
    font-family: sans-serif;
    font-weight: 500;
}

@media(max-width:900px){
    .section4{
        display: grid;
        grid-template-columns: repeat(2,1fr);

    }
    .box{
        align-self: center;
    }
}

@media(max-width:500px){
    .section4{
        grid-template-columns: repeat(1,1fr);
        align-items: center;

    }
}








.section5{
    display: flex;
    justify-content: space-around;
    margin: 40px 0px;

}





.part h1{
    color: #111;
    font-size: 22px;
    font-weight: 600;
}
.part p{
    color: black;
    font-size: 21px;
    margin-top: 10px;
    /* width: 50%; */

}
.part a{
    color: rgba(0, 0, 255, 0.627);
}


@media(max-width:750px){
    .section5{
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
}

.privacy{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}
.privacy h1{
    color: black;
    font-size: 24px;
    font-weight: 600;
}
.privacy p{
    width: 60%;
    color: #2f2f31;
    text-align: center;
    margin: 15px 0px;
    /* line-height: 10px; */
    letter-spacing: 2px;
}
.privacy a{
    color: rgba(0, 0, 255, 0.6);
}

.footer{
    width: 100vw;
    background-color: #2f2f31;
    display: flex;
    justify-content: space-around;
}

.right{
    display: flex;
    align-items: center;

}
.right a{
    color: #fff;
    margin: 5px 10px;
}

.microsoft img{
    width: 40px;
}

.left{
    color: #fff;
    display: flex;
    align-items: center;
}
.left a{
    margin-left: 25px;
}

@media(max-width:850px){
    .footer{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}


